# RStudio files
.Rhistory
.Rproj.user
*.Rproj
.Rbuildignore

# cache files
*_cache
*_files

# MAC files
*DS_Store

# VS Code workspace file
*.code-workspace

# Soft link
Markdowns/Robjects

# Data
Utilities/data
course_files/
